#id_gender,
#id_job_city {
    display: inline-flex;
}

#id_gender>div>label {
    padding-left: 10px;
}

#id_job_city>div>label {
    padding-left: 15px;
}

.heading {
    background-color: rgb(199, 169, 230);
}